
<div class="row collapse leisure" id="white-bg">
  <div class="banner-image-wrap">
    <img src="<%= @activity.header_image.url %>">
  </div>
  <h1><%= @activity.activity_name %></h1>
  <hr>
  <div class="large-7 medium-6 small-12 columns">
    <div class="main-cont">
      <p><%= @activity.main_description %></p>
      <ol>
        <li><%= @activity.selling_point_1 %></li>
        <li><%= @activity.selling_point_2 %></li>
        <li><%= @activity.selling_point_3 %></li>
        <li><%= @activity.selling_point_4 %></li>
        <li><%= @activity.selling_point_5 %></li>
      </ol>
      <div class="review">
        <h3>Customer Review</h3>
        <p><%= @activity.customer_review %></p>
      </div>
      <div class="gallery">
        <div class="row collapse">
          <div class="large-6 columns">
            <div id="big">
              <% (1..8).each do |i| %>
              <div class="image-disp">
                <img class="gallery-image mob-display-image" src="<%= @activity.send('gallery_image_' + i.to_s).url %>" alt=""/>
              </div>
              <% end %>
            </div>
          </div>
          <div class="large-6 columns">
            <div class="row collapse">
              <ul class="large-block-grid-3 medium-block-grid-1 small-block-grid-2 gallery-thumbs">
                <li><a href="javascript: changeImage(1);"><div class="thumb-gallery"><img src="/img/gallery-example/image1.jpg" alt="" /></div></a></li>
                <li><a href="javascript: changeImage(2);"><div class="thumb-gallery"><img src="/img/gallery-example/image2.jpg" alt="" /></div></a></li>
                <li><a href="javascript: changeImage(3);"><div class="thumb-gallery"><img src="/img/gallery-example/image3.jpg" alt="" /></div></a></li>
                <li><a href="javascript: changeImage(4);"><div class="thumb-gallery"><img src="/img/gallery-example/image4.jpg" alt="" /></div></a></li>
                <li><a href="javascript: changeImage(5);"><div class="thumb-gallery"><img src="/img/gallery-example/image5.jpg" alt="" /></div></a></li>
                <li><a href="javascript: changeImage(6);"><div class="thumb-gallery"><img src="/img/gallery-example/image6.jpg" alt="" /></div></a></li>
                <li><a href="javascript: changeImage(7);"><div class="thumb-gallery"><img src="/img/gallery-example/image7.jpg" alt="" /></div></a></li>
                <li><a href="javascript: changeImage(8);"><div class="thumb-gallery"><img src="/img/gallery-example/image8.jpg" alt="" /></div></a></li>
                <li><a href="javascript: changeImage(9);"><div class="thumb-gallery"><img src="/img/gallery-example/image9.jpg" alt="" /></div></a></li>
              </ul>
            </div>
          </div>
          <script>
          function changeImage(current) {
            var imagesNumber = 9;

            for (i=1; i<=imagesNumber; i++) {
              if (i == current) {
                document.getElementById("gallery" + current).style.display = "block";
              } else {
                document.getElementById("gallery" + i).style.display = "none";
              }
            }
          }
          </script>
        </div>
      </div>
    </div>
  </div>
  <div class="large-4 medium-5 small-12 columns">
    <div class="add-info">
      <h3>Availability</h3>
      <p><%= @activity.availability %></p>
      <h3>Suitability</h3>
      <p><%= @activity.suitability %></p>
    </div>
    <div id="video">
      <iframe width="100%" height="auto" src="<%= @activity.youtube_video %>" frameborder="0" allowfullscreen></iframe>
    </div>
    <div id="cta-basic">
      <a href="<%= @activity.public_website %>">Find out more<img src="/img/white-rght.svg"></a>
    </div>
  </div>
</div>
