<div class="row collapse leisure patch-1" id="white-bg">
  <div class="banner-image-wrap">
    <img src="<%= @offer.activity.listings_image %>">
  </div>
  <h1 class="patch-2"><%= @offer.activity.activity_name %></h1>
  <h2 class="provider-detail"><%= @offer.activity.providers_name %></h2>
  <hr>
  <div class="large-6 columns">
    <h2>Your Offer Code:</h2>
    <div class="code-wrap">
      <span><%= @offer.code %></span>
    </div>
    <p><%= @offer.activity.providers_offer_details %></p>
    <div class="offer-code-btns">
      <a target="blank" href="<%= @offer.activity.providers_website %>">Visit The <%= @offer.activity.providers_name %> Website</a>
      <!-- FIXME ts and cs url method on offer -->
      <a href="<%= @offer.activity.providers_terms_and_conditions.url %>" download>Download Terms and Conditions</a>
    </div>
  </div>
  <div class="large-4 columns">
    <div class="add-info">
      <h3>Address</h3>
      <div class="address">
        <p><%= @offer.activity.providers_address_line_1 %></p>
        <p><%= @offer.activity.providers_address_line_2 %></p>
        <p><%= @offer.activity.providers_address_line_3 %></p>
        <p><%= @offer.activity.providers_address_city %></p>
        <p><%= @offer.activity.providers_address_county %></p>
        <p><%= @offer.activity.providers_address_postcode %></p>
      </div>
      <h3>Availability</h3>
      <p><%= @offer.activity.availability %></p>
      <h3>Phone</h3>
      <p><%= @offer.activity.providers_phone_number %></p>
      <h3>Email</h3>
      <p><a href="mailto:"><%= @offer.activity.providers_email_address %></a></p>
      <h3>Website</h3>
      <p><a target="blank" href="<%= @offer.activity.providers_website %>"><%= @offer.activity.providers_website %></a></p>
    </div>
  </div>
</div>
