<section id="admin-nav">
  <div class="row collapse">
    <ul>
      <li><a href="/admin/properties">Holiday Homes</a></li>
      <li><a href="/admin/properties/new">Add Property</a></li>
      <li><a href="/admin/leisure">Leisure</a></li>
      <li><a href="/admin/leisure/new">Add Activity</a></li>
      <li><a href="/admin/leisure/offers">Offer Codes</a></li>
    </ul>
  </div>
</section>

<div class="row collapse" id="add-activity">
  <h2>Offer Codes Admin</h2>
  <a href="https://dataclips.s3.amazonaws.com/ijvwlnzjptqdygffhsyiajlwbkfx.csv?response-content-type=application/csv&X-Amz-Expires=600&X-Amz-Date=20160621T072041Z&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJYMGOQOFWG6TTFYA/20160621/us-east-1/s3/aws4_request&X-Amz-SignedHeaders=host&X-Amz-Signature=1c5e07b751d7b99db79967affd13e840f1231e2bcb60e7b6f7bd8d8b848507b6">Download CSV</a>
  <div class="large-12 columns" id="codes-db">
    <table>
      <thead>
        <tr>
          <th>Offer Codes Generated</th>
          <th>Date Generated</th>
          <th>Provider</th>
          <th>User Email</th>
          <th>Status</th>
          <th>Transaction Value</th>
        </tr>
      </thead>
      <tbody>

        <% @offers.each do |offer| %>
        <tr>
          <td><%= offer.code %></td>
          <td><%= offer.created_at %></td>
          <td><%= offer.activity.providers_name %></td>
          <td><%= offer.customer_email_address %></td>
          <td><%= offer.redeemed_at ? "Used" : "NOT USED"%></td>
          <td><%= offer.transaction_value_string || "NOT USED" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <!-- <a href="" download>Download CSV</a> -->
  </div>
</div>
