<div class="admin-head">
  <div class="row collapse">
    <div class="large-10 columns">
      <h1>Maenporth Estate System Admin</h1>
    </div>
    <div class="large-2 columns">
      <a href=""><button>Log Out</button></a>
    </div>
  </div>
</div>

<div class="row collapse admin-list">
  <div class="large-9 columns">
    <h2>Edit Property Profile</h2>
  </div>
  <div class="large-3 columns">
    <a href=""><button>Save</button></a>
    <p style="font-style: italic;">Save the form regularly.</p>
  </div>
</div>
<div class="row collapse">
  <hr>

  <div id="tabvanilla" class="widget">
    <ul class="tabnav">
      <li><a href="/properties/<%= @property.id %>/edit-sale-profile">For sale</a></li>
      <li><a href="#">For rent</a></li>
    </ul>
  </div>
  <form id="form_id" action="/properties/<%= @property.id %>/rent-profile" method="post">
    <input type="hidden" name="_method" value="PATCH">

    <!-- For Rent Form -->
    <div id="c-tabs2" class="tabdiv">
      <section id="for-rent">
        <div class="row collapse">
          <h1>Rental Property Profile Form</h1>
          <div class="large-5 columns">
            <h2>Image Upload</h2>
            <p>Upload 8 images using the 'Browse' buttons below.</p>
            <p>Image Size.  The large display image is 644 pixels wide by 344 pixels high.  The thumbnail images are 160 pixels wide by 80 pixels high.  Your image uploads will be cropped to these sizes automatically. </p>
          </div>
          <div class="large-7 columns">
            <div class="edit-gallery">
              <ul class="large-block-grid-4 medium-block-grid-2 small-block-grid-2">
                <li style="float: left; margin-bottom:  1em;">
                  <img src="/img/upload.svg" alt="" />
                  <p>Image 1</p>
                </li>
                <li style="float: right;margin-bottom: 1em; ">
                  <img src="/img/upload.svg" alt="" />
                  <p>Image 4</p>
                </li>
                <li style="float: left; margin-bottom: 1em">
                  <img src="/img/upload.svg" alt="" />
                  <p>Image 2</p>
                </li>
                <li style="float: right;margin-bottom: 1em;">
                  <img src="/img/upload.svg" alt="" />
                  <p>Image 3</p>
                </li>
                <li style="float: left; margin-bottom: 1em">
                  <img src="/img/upload.svg" alt="" />
                  <p>Image 5</p>
                </li>
                <li style="float: right;margin-bottom: 1em;">
                  <img src="/img/upload.svg" alt="" />
                  <p>Image 8</p>
                </li>
                <li style="float: left; margin-bottom: 1em">
                  <img src="/img/upload.svg" alt="" />
                  <p>Image 6</p>
                </li>
                <li style="float: right;margin-bottom: 1em;">
                  <img src="/img/upload.svg" alt="" />
                  <p>Image 7</p>
                </li>
              </ul>
            </div>
            Image 1: <input type="file" name="image1" value="image1"><br>
            Image 2: <input type="file" name="image2"><br>
            Image 3: <input type="file" name="image3"><br>
            Image 4: <input type="file" name="image4"><br>
            Image 5: <input type="file" name="image5"><br>
            Image 6: <input type="file" name="image6"><br>
            Image 7: <input type="file" name="image7"><br>
            Image 8: <input type="file" name="image8"><br>
            Upload: <input type="submit" value="UPLOAD" style="margin-top: 1em;">
          </div>
        </div>
        <div class="row collapse">
          <hr>
          <div class="large-12 columns prop-name">
            <h2>Property Name</h2>
            <input type="text" name="property[property_name]" value="<%= @property.property_name %>">
          </div>
        </div>
        <div class="row collapse">
          <hr>
          <div class="large-5 columns">
            <h2>Description</h2>
            <p>Please provide a long description of the property for rent.  Recommended word count 130 words.</p>
            <p>This text editor uses Markdown to help you format your text.  Use the return key to add paragraph spacing.</p>
          </div>
          <div class="large-7 columns">
            <textarea rows="15" cols="70" placeholder="Type your property description here..." style="padding: 1em; margin-bottom: 1em;" name="property[rent_description]"><%= @property.rent_description.raw if @property.rent_description %></textarea>
          </div>
        </div>
        <div class="row collapse enquiry-route">
          <hr>
          <h2>Enquiry Route</h2>
          <div class="large-5 columns">
            <p>Where would you like enquiries about your property to go?  You can either re-direct people to a third party booking agent's website such as 'holidaycottages.co.uk/my-property' or you can receive enquiries direct via email.</p>
            <p>Please select one enquiry route and provide the corresponding URL or Email address.</p>
          </div>
          <div class="large-7 columns enquiry-text">
            <label>Send enquiries to my booking agent.</label><input class="enquiry-route-input" type="radio" value="agent" name="property[enquiry_route]" <%= 'checked' if @property.enquiry_route == 'agent' %>>
            <br>
            <label>Send enquiries directly to me.</label><input class="enquiry-route-input" type="radio" value="direct" name="property[enquiry_route]" <%= 'checked' if @property.enquiry_route == 'direct' %>>
          </div>
          <div class="large-8 columns end">
            <div id="">
              <h2>Sending Enquiries to a Third Party CONDITIONAl</h2>
              <p>You have selected to send enquiries about your rental property to a booking agent.</p>
              <p>Please provide a URL (website address) for your booking agent.  This might be a profile page for your property that you have already set-up with your booking agent.</p>
              <p>URLS must begin http:// or https://</p>
              <input style="width: 100%"type="URL" name="property[enquiry_link]" value="<%= @property.enquiry_link %>">
            </div>
            <div id="">
              <h2>Sending Enquiries Directly to You CONDITIONAL</h2>
              <p>You have selected to send enquiries about your rental property to an email address that you control.</p>
              <p>Please provide a valid email address.  We will email you everytime an enquiry is made about your property.  Please make sure your email address is correct. We cannot guarantee successful delivery of emails to invalid email addresses.</p>
              <input type="email" name="property[enquiry_email]" value="<%= @property.enquiry_email %>">
            </div>
          </div>
        </div>
        <div class="row collapse">
          <hr>
          <div class="large-5 columns">
            <h2>Checklist</h2>
            <p>Please select from these variables the statements that best describes your property.  If you do not have a balcony, patio or lawn, leave the checkbox unchecked.</p>
          </div>
          <div class="large-7 columns">
            <div class="checklist-wrap">
              <table>
                <tr>
                  <td>Property Type:</td>
                  <td>
                    <select name="property[property_rent_type]">
                      <option <%= 'selected' if @property.property_rent_type == 'Flat' %>>Flat</option>
                      <option <%= 'selected' if @property.property_rent_type == 'Apartment' %>>Apartment</option>
                      <option <%= 'selected' if @property.property_rent_type == 'House' %>>House</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td>Bedrooms:</td>
                  <td>
                    <select name="property[bedrooms]">
                      <option <%= 'selected' if @property.bedrooms == '1' %>>1</option>
                      <option <%= 'selected' if @property.bedrooms == '2' %>>2</option>
                      <option <%= 'selected' if @property.bedrooms == '3' %>>3</option>
                      <option <%= 'selected' if @property.bedrooms == '4' %>>4</option>
                      <option <%= 'selected' if @property.bedrooms == '5' %>>5</option>
                      <option <%= 'selected' if @property.bedrooms == '5+' %>>5+</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td>Bathrooms</td>
                  <td>
                    <select name="property[bathrooms]">
                      <option <%= 'selected' if @property.bathrooms == '1' %>>1</option>
                      <option <%= 'selected' if @property.bathrooms == '2' %>>2</option>
                      <option <%= 'selected' if @property.bathrooms == '3' %>>3</option>
                      <option <%= 'selected' if @property.bathrooms == '3+' %>>3+</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td>Sleeps</td>
                  <td>
                    <select name="property[sleeps]">
                      <option <%= 'selected' if @property.sleeps == '1' %>>1</option>
                      <option <%= 'selected' if @property.sleeps == '2' %>>2</option>
                      <option <%= 'selected' if @property.sleeps == '3' %>>3</option>
                      <option <%= 'selected' if @property.sleeps == '4' %>>4</option>
                      <option <%= 'selected' if @property.sleeps == '5' %>>5</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td>View Type</td>
                  <td>
                    <select name="property[view_type]">
                      <option <%= 'selected' if @property.view_type == 'Sea View' %>>Sea View</option>
                      <option <%= 'selected' if @property.view_type == 'Sea Glimpses' %>>Sea Glimpses</option>
                      <option <%= 'selected' if @property.view_type == 'Woodland View' %>>Woodland View</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td>Wifi</td>
                  <td>
                    <input name="property[wifi]" type="checkbox" <%= 'checked' if @property.wifi %>>
                  </td>
                </tr>
                <tr>
                  <td>BBQ</td>
                  <td>
                    <input name="property[bbq]" type="checkbox" <%= 'checked' if @property.bbq %>>
                  </td>
                </tr>
                <tr>
                  <td>Towels Provided</td>
                  <td>
                    <input name="property[towels]" type="checkbox" <%= 'checked' if @property.towels %>>
                  </td>
                </tr>
                <tr>
                  <td>Bath</td>
                  <td>
                    <input name="property[bath]" type="checkbox" <%= 'checked' if @property.bath %>>
                  </td>
                </tr>
                <tr>
                  <td>Shower</td>
                  <td>
                    <input name="property[shower]" type="checkbox" <%= 'checked' if @property.shower %>>
                  </td>
                </tr>
                <tr>
                  <td>Washing Machine</td>
                  <td>
                    <input name="property[washing_machine]" type="checkbox" <%= 'checked' if @property.washing_machine %>>
                  </td>
                </tr>
                <tr>
                  <td>Tumble Dryer</td>
                  <td>
                    <input name="property[tumble_dryer]" type="checkbox" <%= 'checked' if @property.tumble_dryer %>>
                  </td>
                </tr>
                <tr>
                  <td>Patio</td>
                  <td>
                    <input name="property[patio]" type="checkbox" <%= 'checked' if @property.patio %>>
                  </td>
                </tr>
                <tr>
                  <td>Balcony</td>
                  <td>
                    <input name="property[balcony]" type="checkbox" <%= 'checked' if @property.balcony %>>
                  </td>
                </tr>
                <tr>
                  <td>Lawn</td>
                  <td>
                    <input name="property[lawn]" type="checkbox" <%= 'checked' if @property.lawn %>>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="row collapse">
          <hr>
          <h2>Local Recommendations</h2>
          <div class="large-5 columns">
            <p>Please provide 8 local recommendations.  These should be personal to you.  Consider including your favourite walk or a beach that you like.  Perhaps a local restaurant or attraction.</p>
          </div>
          <div class="large-7 columns local-recs">
            <input type="text" name="property[recommendation_1]" value="<%= @property.recommendation_1 %>" placeholder="Recommendation 1"><br>
            <input type="text" name="property[recommendation_2]" value="<%= @property.recommendation_2 %>" placeholder="Recommendation 2"><br>
            <input type="text" name="property[recommendation_3]" value="<%= @property.recommendation_3 %>" placeholder="Recommendation 3"><br>
            <input type="text" name="property[recommendation_4]" value="<%= @property.recommendation_4 %>" placeholder="Recommendation 4"><br>
            <input type="text" name="property[recommendation_5]" value="<%= @property.recommendation_5 %>" placeholder="Recommendation 5"><br>
            <input type="text" name="property[recommendation_6]" value="<%= @property.recommendation_6 %>" placeholder="Recommendation 6"><br>
            <input type="text" name="property[recommendation_7]" value="<%= @property.recommendation_7 %>" placeholder="Recommendation 7"><br>
            <input type="text" name="property[recommendation_8]" value="<%= @property.recommendation_8 %>" placeholder="Recommendation 8">
          </div>
        </div>
        <div class="row collapse" style="margin-bottom: 2em;">
          <hr>
          <div class="large-5 columns">
            <h2>Map</h2>
            <p>Please upload an image to show where this property is on the map.</p>
          </div>
          <div class="large-5 columns end">
            <img src="/img/upload.svg" alt="" />
            <input type="file"><br>
            <input type="submit" value="UPLOAD" style="margin-top: 1em;">
          </div>
        </div>
        <div class="row collapse admin-list">
          <hr>
          <div class="large-9 columns">
            <h2>Edit Property Profile</h2>
          </div>
          <div class="large-3 columns">
            <a href=""><button>Save</button></a>
            <p style="font-style: italic;">Save the form regularly.</p>
          </div>
        </div>
      </section>
    </div>
  </form>
  <!-- END For Rent Form -->
</div>
