<div class="row collapse">
  <div class="large-12 columns">
    <div id="image-enlarge">
      <div class="large-map">
        <a onclick="document.getElementById('image-enlarge').style.display = 'none'">&#x2716;</a>
        <h1>Property Name</h1>
        <h2>Location on Maenporth Estate</h2>
        <img style="width: 100%;" src="/img/property-map.jpg">
      </div>
    </div>
  </div>
</div>

<script>
function changeImage(current) {
  var imagesNumber = 8;

  for (i=1; i<=imagesNumber; i++) {
    if (i == current) {
      document.getElementById("normal" + current).style.display = "block";
    } else {
      document.getElementById("normal" + i).style.display = "none";
    }
  }
}
</script>

<div class="row collapse" id="white-bg">
  <div class="large-12 columns">
    <div class="property-box property-box-large for-rent">
      <div class="row collapse">
        <div class="large-10 medium-10 columns">
          <h2>Property Name <%= @property.property_name %></h2>
        </div>
        <div class="large-2 medium-2 columns">
          <h2>For Rent <img class="property-box-icon" src="/img/sun-09.svg"></h2>
        </div>
      </div>
      <hr>
      <div class="row collapse">
        <div class="large-8 columns">
          <div id="bigimages">
            <div id="normal1">
              <img class="large-image" src="/img/nature1.jpg" alt=""/>
            </div>

            <div id="normal2">
              <img class="large-image" src="/img/nature2.jpg" alt=""/>
            </div>

            <div id="normal3">
              <img class="large-image" src="/img/nature3.jpg" alt=""/>
            </div>

            <div id="normal4">
              <img class="large-image" src="/img/nature4.jpg" alt=""/>
            </div>

            <div id="normal5">
              <img class="large-image" src="/img/nature5.jpg" alt=""/>
            </div>

            <div id="normal6">
              <img class="large-image" src="/img/nature6.jpg" alt=""/>
            </div>

            <div id="normal7">
              <img class="large-image" src="/img/nature7.jpg" alt=""/>
            </div>

            <div id="normal8">
              <img class="large-image" src="/img/nature8.jpg" alt=""/>
            </div>
          </div>
        </div>
        <div class="large-2 columns">
          <div id="gallery">
            <div id="thumbs">
              <div class="row collapse">
              <ul class="large-block-grid-1 medium-block-grid-1 small-block-grid-2">
                <li><a href="javascript: changeImage(1);"><img src="/img/nature1.jpg" alt="" /></a></li>
                <li><a href="javascript: changeImage(2);"><img src="/img/nature2.jpg" alt="" /></a></li>
                <li><a href="javascript: changeImage(3);"><img src="/img/nature3.jpg" alt="" /></a></li>
                <li><a href="javascript: changeImage(4);"><img src="/img/nature4.jpg" alt="" /></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="large-2 columns">
        <div id="gallery">
          <div id="thumbs">
            <div class="row collapse">
            <ul class="large-block-grid-1 medium-block-grid-1 small-block-grid-2">
              <li><a href="javascript: changeImage(5);"><img src="/img/nature5.jpg" alt="" /></a></li>
              <li><a href="javascript: changeImage(6);"><img src="/img/nature6.jpg" alt="" /></a></li>
              <li><a href="javascript: changeImage(7);"><img src="/img/nature7.jpg" alt="" /></a></li>
              <li><a href="javascript: changeImage(8);"><img src="/img/nature8.jpg" alt="image-alt" /></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
      </div>
      <!-- -->
      <div class="row collapse">
        <div class="large-6 columns">
          <div class="description-wrap">
            <%= @property.rent_description.html if @property.rent_description %>
          </div>
          <h2 style="margin-top: 1em;">Local Recommendations</h2>
          <div class="favourites-wrap">
            <ul>
              <li><%= @property.recommendation_1 %></li>
              <li><%= @property.recommendation_2 %></li>
              <li><%= @property.recommendation_3 %></li>
              <li><%= @property.recommendation_4 %></li>
              <li><%= @property.recommendation_5 %></li>
              <li><%= @property.recommendation_6 %></li>
              <li><%= @property.recommendation_7 %></li>
              <li><%= @property.recommendation_8 %></li>
            </ul>
          </div>
        </div>
        <div class="large-6 columns">
          <div class="prop-type">
            <h2><%= @property.property_sale_type %></h2>
            <div class="row collapse">
              <div class="large-4 columns">
                <h3>Bedrooms</h3>
                <h4><%= @property.bedrooms %></h4>
              </div>
              <div class="large-4 columns">
                <h3>Sleeps</h3>
                <h4><%= @property.sleeps %></h4>
              </div>
              <div class="large-4 columns">
                <h3>Bathrooms</h3>
                <h4><%= @property.bathrooms %></h4>
              </div>
            </div>
          </div>
          <a href="/properties/<%= @property.id %>/enquire">
            <button class="enq-btn">
              Enquire Now
            </button>
          </a>
          <div class="facilities-wrap">
            <style media="screen">
              .facilities-wrap ul {
                /* TODO richard put in styling */
                /* clearfix for floating list elements*/
                overflow: hidden;
              }
              .facilities-wrap li {
                margin-left: 0;
                list-style-position: inside;
                float: left;
                width: 50%;
                box-sizing: border-box;
              }
            </style>
            <ul>
              <li><%= @property.view_type %></li>

              <% if @property.wifi %>
              <li>WiFi</li>
              <% end %>

              <% if @property.bbq %>
              <li>BBQ</li>
              <% end %>

              <% if @property.towels %>
              <li>Towels</li>
              <% end %>

              <% if @property.bath %>
              <li>Bath</li>
              <% end %>

              <% if @property.shower %>
              <li>Shower</li>
              <% end %>

              <% if @property.washing_machine %>
              <li>Washing Machine</li>
              <% end %>

              <% if @property.tumble_dryer %>
              <li>Tumble Dryer</li>
              <% end %>

              <% if @property.patio %>
              <li>Patio</li>
              <% end %>

              <% if @property.balcony %>
              <li>Balcony</li>
              <% end %>

              <% if @property.lawn %>
              <li>Lawn</li>
              <% end %>
            </ul>
          </div>
          <div class="map-wrap" onclick="document.getElementById('image-enlarge').style.display = 'inline'">
            <img style="width: 100%;" src="/img/property-map.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
