<div class="row collapse">
  <div class="large-12 columns">
    <div id="image-enlarge">
      <div class="large-map">
        <a onclick="document.getElementById('image-enlarge').style.display = 'none'">&#x2716;</a>
        <h1>Property Name</h1>
        <h2>Location on Maenporth Estate</h2>
        <img style="width: 100%;" src="/img/property-map.jpg">
      </div>
    </div>
  </div>
</div>

<script>
function changeImage(current) {
  var imagesNumber = 8;

  for (i=1; i<=imagesNumber; i++) {
    if (i == current) {
      document.getElementById("normal" + current).style.display = "block";
    } else {
      document.getElementById("normal" + i).style.display = "none";
    }
  }
}
</script>

<div class="row collapse" id="white-bg">
  <div class="large-12 columns">
    <div class="property-box property-box-large for-rent">
      <div class="row collapse">
        <div class="large-10 medium-10 columns">
          <h2>Property Name <%= @property.property_name %></h2>
        </div>
        <div class="large-2 medium-2 columns">
          <h2>For Rent <img class="property-box-icon" src="/img/sun-09.svg"></h2>
        </div>
      </div>
      <hr>
      <script>
      function changeImage(current) {
        var imagesNumber = 8;

        for (i=1; i<=imagesNumber; i++) {
          if (i == current) {
            document.getElementById("normal" + current).style.display = "block";
          } else {
            document.getElementById("normal" + i).style.display = "none";
          }
        }
      }
      </script>
      <!-- -->
      <div class="row collapse">
        <div class="large-8 columns">
          <div id="bigimages">
            <div id="normal1">
              <img class="large-image" src="/img/nature1.jpg" alt=""/>
            </div>

            <div id="normal2">
              <img class="large-image" src="/img/nature2.jpg" alt=""/>
            </div>

            <div id="normal3">
              <img class="large-image" src="/img/nature3.jpg" alt=""/>
            </div>

            <div id="normal4">
              <img class="large-image" src="/img/nature4.jpg" alt=""/>
            </div>

            <div id="normal5">
              <img class="large-image" src="/img/nature5.jpg" alt=""/>
            </div>

            <div id="normal6">
              <img class="large-image" src="/img/nature6.jpg" alt=""/>
            </div>

            <div id="normal7">
              <img class="large-image" src="/img/nature7.jpg" alt=""/>
            </div>

            <div id="normal8">
              <img class="large-image" src="/img/nature8.jpg" alt=""/>
            </div>
          </div>
        </div>
        <div class="large-2 columns">
          <div id="gallery">
            <div id="thumbs">
              <div class="row collapse">
              <ul class="large-block-grid-1 medium-block-grid-1 small-block-grid-2">
                <li><a href="javascript: changeImage(1);"><img src="/img/nature1.jpg" alt="" /></a></li>
                <li><a href="javascript: changeImage(2);"><img src="/img/nature2.jpg" alt="" /></a></li>
                <li><a href="javascript: changeImage(3);"><img src="/img/nature3.jpg" alt="" /></a></li>
                <li><a href="javascript: changeImage(4);"><img src="/img/nature4.jpg" alt="" /></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="large-2 columns">
        <div id="gallery">
          <div id="thumbs">
            <div class="row collapse">
            <ul class="large-block-grid-1 medium-block-grid-1 small-block-grid-2">
              <li><a href="javascript: changeImage(5);"><img src="/img/nature5.jpg" alt="" /></a></li>
              <li><a href="javascript: changeImage(6);"><img src="/img/nature6.jpg" alt="" /></a></li>
              <li><a href="javascript: changeImage(7);"><img src="/img/nature7.jpg" alt="" /></a></li>
              <li><a href="javascript: changeImage(8);"><img src="/img/nature8.jpg" alt="image-alt" /></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
      </div>
      <!-- -->
      <div class="row collapse">
        <div class="large-6 columns">
          <div class="description-wrap">
            <%= @property.sale_description.html %>
          </div>
          <h2 style="margin-top: 1em;">Local Recommendations</h2>
          <div class="favourites-wrap">
            <ul>
              <li>Try the lovely restaurant.</li>
              <li>The gardens at Budock are our favourite.</li>
              <li>Maenporth beach is a must.</li>
              <li>Try swimming at Durgan beach.</li>
              <li>Falmouth town is a lot of fun.</li>
              <li>We have a lovely BBQ terrace here.</li>
              <li>Explore Pendennis castle.</li>
              <li>Have fun at Cornwall's Crealy.</li>
            </ul>
          </div>
        </div>
        <div class="large-6 columns">
          <div class="prop-type">
            <h2><%= @property.property_sale_type %></h2>
            <div class="row collapse">
              <div class="large-4 columns">
                <h3>Bedrooms</h3>
                <h4><%= @property.bedrooms %></h4>
              </div>
              <div class="large-4 columns">
                <h3>Sleeps</h3>
                <h4>6</h4>
              </div>
              <div class="large-4 columns">
                <h3>Bathrooms</h3>
                <h4><%= @property.bathrooms %></h4>
              </div>
            </div>
          </div>
          <a href="/properties/<%= @property.id %>/enquire">
            <button class="enq-btn">
              Enquire Now
            </button>
          </a>
          <div class="facilities-wrap">
            <div class="">
              <div class="row collapse">
                <div class="large-6 columns">
                  <ul>
                    <li>View Type</li>
                    <li>WiFi</li>
                    <li>BBQ</li>
                    <li>Towels</li>
                    <li>Bath</li>
                    <li>Shower</li>
                  </ul>
                </div>
                <div class="large-6 columns">
                  <ul>
                    <li>Washing Machine</li>
                    <li>Tumble Dryer</li>
                    <li>Patio</li>
                    <li>Balcony</li>
                    <li>Lawn</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="map-wrap" onclick="document.getElementById('image-enlarge').style.display = 'inline'">
            <img style="width: 100%;" src="/img/property-map.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
