<head>
  <meta name="googlebot" content="noindex">
  <meta name="robots" content="noindex">
</head>

<div id="are-you-sure">
  <div class="sure-content">
    <div class="row collapse">
      <div class="large-8 columns">
        <h2>Are your sure you want to delete this property?</h2>
        <p>Deleting this data cannot be reversed.</p>
      </div>
      <div class="large-4 columns">
        <a href=""><button style="background: red;">Delete</button></a>
        <button onclick="document.getElementById('are-you-sure').style.display = 'none'" style="background: #60c650;">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div class="admin-head">
  <div class="row collapse">
    <div class="large-10 columns">
      <h1>Maenporth Estate System Admin</h1>
    </div>
    <div class="large-2 columns">
      <a href=""><button>Log Out</button></a>
    </div>
  </div>
</div>

<div class="row collapse admin-list">
  <div class="large-9 columns">
    <h2>Properties</h2>
  </div>
  <div class="large-3 columns">
    <a href="/properties/new"><button>Create New Property &#43;</button></a>
  </div>
</div>
<div class="row collapse">
  <hr>
</div>

<!-- REPEAT THIS SECTION -->

<% @properties.each do |property| %>
<div class="row collapse admin-listing">
  <div class="large-8 columns">
    <h3>Property Name <%= property.property_name %></h3>
  </div>
  <div class="large-2 columns">
    <form id="form_id" action="/properties/<%= property.id %>/status" method="post">
      <input type="hidden" name="_method" value="PATCH">
      <div class="stat-wrap">
        <input type="checkbox" name="property[for_sale]" <%= 'checked' if property.for_sale %>><p>For Sale</p><img src="/img/house-svg-09.svg">
      </div>
      <div class="stat-wrap">
        <input type="checkbox" name="property[for_rent]" <%= 'checked' if property.for_rent %>><p>For Rent</p><img src="/img/sun-09.svg">
      </div>
      <button type="submit">Update</button>
      <!-- <div class="stat-wrap">
        <input type="checkbox" checked><p>Hide</p><img src="/img/hidden-02.svg">
      </div> -->
    </form>
  </div>
  <div class="large-2 columns">
    <form class="" action="/properties/<%= property.id %>" method="post">
      <input type="hidden" name="_method" value="DELETE">
      <button onclick="document.getElementById('are-you-sure').style.display = 'inline'" style="background: red;">DELETE</button>
    </form>
    <a href="/properties/<%= property.id %>/edit-sale-profile"><button style="background: #60c650;">EDIT</button></a>
  </div>
</div>
<% end %>

<!-- END REPEAT -->
