<div class="row collapse" id="white-bg">
  <h1>Holiday Homes For Rent</h1>
  <a class="list-view-link" href="/properties/for-sale">Click to view holiday homes for sale...</a>
  <hr>
  <% @properties.each do |property| %>
  <div class="property-box for-rent">
    <div class="row collapse">
      <div class="large-10 medium-10 columns ">
        <h2 class="no-padding">Holiday Home Name: <%= property.property_name %></h2>
      </div>
      <div class="large-2 medium-2 columns">
        <h2 class="no-padding">To Rent <img class="property-box-icon" src="/img/sun-09.svg"></h2>
      </div>
    </div>
    <hr>
    <div class="row collapse">
      <div class="large-3 medium-4 columns">
        <div class="list-image-wrap">
          <img class="property-image" src="<%= property.rent_image_1.url %>">
        </div>
      </div>
      <div class="large-3 medium-3 columns">
        <div class="sale-content">
          <ul>
            <li><%= property.bedrooms %> Bedrooms</li>
            <li>Sleeps 6</li>
            <li><%= property.view_type %></li>
          </ul>
        </div>
      </div>
      <div class="large-6 medium-5 columns">
        <a href="/properties/<%= property.id %>/for-rent">
          <button class="find-out-more-rent-btn">Find Out More</button>
        </a>
        <div class="rating-badge-wrap">
          <% if property.rent_badge_1.url %>
          <div class="rating-badge">
            <img src="<%= property.rent_badge_1.url %>">
          </div>
          <% end %>
          <% if property.rent_badge_2.url %>
          <div class="rating-badge">
            <img src="<%= property.rent_badge_2.url %>">
          </div>
          <% end %>
          <% if property.rent_badge_3.url %>
          <div class="rating-badge">
            <img src="<%= property.rent_badge_3.url %>">
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
