<div class="row collapse" id="white-bg">
  <h1>Holiday Homes For Sale</h1>
  <a class="list-view-link" href="/properties/for-rent">Click to view holiday homes for rent...</a>
  <hr>
  <!-- START REPEATING -->
  <% @properties.each do |property| %>
  <div class="property-box">
    <div class="row collapse">
      <div class="large-10 medium-10 columns">
        <h2 class="no-padding">Holiday Home Name: <%= property.property_name %></h2>
      </div>
      <div class="large-2 medium-2 columns">
          <h2 class="no-padding">For Sale <img class="property-box-icon" src="/img/house-svg-09.svg"></h2>
      </div>
    </div>
    <hr>
    <div class="row collapse">
      <div class="large-3 medium-4 columns">
        <div class="list-image-wrap">
          <img class="property-image" src="<%= property.sale_image_1.url %>">
        </div>
      </div>
      <div class="large-7 medium-4 columns">
        <div class="sale-content">
          <ul>
            <li><%= property.property_sale_type %></li>
            <li><%= property.bedrooms %> Bedrooms</li>
          </ul>
          <h3><%= property.formatted_sale_price %></h3>
        </div>
      </div>
      <div class="large-2 medium-4 columns">
        <a href="/properties/<%= property.id %>/for-sale">
          <button>Find Out More</button>
        </a>
      </div>
    </div>
  </div>
  <% end %>
  <!-- END REPEATING -->
</div>
